[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]

[packages]
astroid = "*"
backports-csv = "*"
defusedxml = "*"
diff-match-patch = "*"
django = "*"
django-admin-list-filter-dropdown = "*"
django-filter = "*"
django-import-export = "*"
django-inline-actions = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"
django-cors-headers = "*"
et-xmlfile = "*"
faker = "*"
isort = "*"
jdcal = "*"
lazy-object-proxy = "*"
mccabe = "*"
odfpy = "*"
openpyxl = "*"
pillow = "*"
pylint = "*"
python-dateutil = "*"
pytz = "*"
pyyaml = "*"
six = "*"
sqlparse = "*"
tablib = "*"
text-unidecode = "*"
typed-ast = "*"
wrapt = "*"
xlrd = "*"
xlwt = "*"
pypinyin = "*"

[requires]
python_version = "3.7"
