astroid
Django
django-admin-list-filter-dropdown
django-filter
django-inline-actions
https://github.com/darklow/django-suit/tarball/v2#egg=django-suit
djangorestframework
Faker
isort
lazy-object-proxy
mccabe
Pillow
pylint
python-dateutil
pytz
six
sqlparse
text-unidecode
typed-ast
wrapt
xlrd
xlwt
