{% extends 'admin/base.html' %}
{% load i18n %}
{% load admin_urls static admin_list simpletags %}

{% block content %}
<div id="uploader">
    <el-upload
      class="el-upload"
      drag
      action="{% url 'student-list' %}"
      multiple>
      <i class="el-icon-upload"></i>
      <div class="el-upload__text">将Excel文件拖到此处，或<em>点击上传</em></div>
      <div class="el-upload__tip" slot="tip">只能上传xls/xlsx文件，且不超过 2w 条记录</div>
    </el-upload>
</div>

<script type="text/javascript">
    if (document.getElementById('uploader')) {
        new Vue({
            el: '#uploader'
        })
    }
</script>
{% endblock %}
