{% extends "admin/change_list.html" %}
{% load i18n static %}

{% block object-tools-items %}
{{ block.super }}
<li>
    <el-link id="enroll-statistic" type="primary" href="enroll-statistic/" style="background: white;">招生统计</el-link>
</li>
<script>
new Vue({
  el: '#enroll-statistic'
})
</script>
{% endblock %}

{% block displayChart %}
  <div id="displayChart">
    <el-container style="height: 500px; border: 1px solid #eee">
      <el-main>
        <div id="main" style="width: 100%; height: 90%"></div>
      </el-main>
    </el-container>
  </div>
  <script src="https://echarts.baidu.com/dist/echarts.min.js"></script>
  <script>
  new Vue({
    el: '#displayChart',
    data: function () {
      return {
        trendingStatistic: {
          academies: [],
          years: [],
          series: []
        },
      }
    },
    created: function () {
      this.getEnrollTrendingData(this.drawLine);
    },
    methods: {
      drawLine() {
        const dom = document.getElementById("main");
        const lineChart = echarts.init(dom);
        lineChart.setOption({
          title: {
            text: '各学院招生统计对比图'
          },
          tooltip: {
            trigger: 'axis'
          },
          legend: {
            data: this.trendingStatistic.academies,
            x: 'center', // 'center' | 'left' | {number},
            y: 'bottom', // 'center' | 'bottom' | {number}
          },
          grid: {
            left: '3%',
            right: '3%',
            containLabel: true
          },
          toolbox: {
            feature: {
              saveAsImage: {}
            }
          },
          xAxis: {
            type: 'category',
            boundaryGap: false,
            data: this.trendingStatistic.years
          },
          yAxis: {
            type: 'value'
          },
          series: this.trendingStatistic.series
        })
      },
      getEnrollTrendingData(callback) {
        Vue.prototype.$http = axios;
        let _this = this;
        let academies = [];
        let seriesData = [];
        let enrollYears = [];
        this.$http.get("{% url 'student-enroll-trending' %}", {})
            .then(function (res) {
              const { statistic } = res.data;
              statistic.forEach(item => {
                const {
                  stu_academy__aca_cname: academy,
                  stu_entrance_time__year: enrollYear
                } = item;
                if (!academies.includes(academy)) {
                  academies.push(academy);
                }
                if (!enrollYears.includes(enrollYear)) {
                  enrollYears.push(enrollYear);
                }
              });
              _this.trendingStatistic.academies = academies;
              _this.trendingStatistic.years = enrollYears;
              academies.forEach(academy => {
                let item = {};
                item.name = academy;
                item.type = 'line';
                item.smooth = true;
                item.lineStyle = { width: 3 };
                item.data = [];
                statistic.forEach(member => {
                    const {
                      stu_academy__aca_cname: academy,
                    } = member;
                    if (item.name === academy) {
                        item.data.push(member.count);
                    }
                });
                seriesData.push(item);
              });
              _this.trendingStatistic.series = seriesData;
              callback();
            })
            .catch(function (error) {
              _this.$notify.error({
                title: '错误',
                message: '查询过程中发现错误'
              });
            });
      },
    }
  })
  </script>
{% endblock %}