{% load i18n vuetags %}

<div class="actions">
  {% block actions %}
    <div>
      {% block actions-form %}
        {% for field in action_form %}
          {% if field.label %}
            <label><strong>{{ field.label }}</strong>:</label>
          {% endif %}
          {% if field.field.widget.input_type == 'select' and not field.field.widget.is_hidden %}
            <input type="hidden" name="{{ field.html_name }}" v-model="{{ field.html_name }}">
            <a-select size="small" name="{{ field.html_name }}" style="width: 160px" @change="handleChange">
              {% for value, dispaly in field.field.widget.choices %}
                <a-select-option select-name="{{ field.html_name }}" value="{{ value }}">{{ dispaly }}</a-select-option>
              {% endfor %}
            </a-select>
          {% else %}
            {{ field }}
          {% endif %}
        {% endfor %}
      {% endblock %}

      {% block actions-submit %}
        <a-button size="small" title="{% trans "Run the selected action" %}" name="index" value="{{ action_index|default:0 }}" @click="doAction">{% trans "Go" %}</a-button>
      {% endblock %}
    </div>

    <div>
      {% block actions-counter %}
        {% if actions_selection_counter %}
          <span class="action-counter" data-actions-icnt="{{ cl.result_list|length }}">{{ selection_note }}</span>
          {% if cl.result_count != cl.result_list|length %}
            <span class="all" style="display: none">{{ selection_note_all }}</span>
            <span class="question" style="display: none">(<a href="#">{% trans "Select all" %}</a>)</span>
            <span class="clear" style="display: none">(<a href="#">{% trans "Clear selection" %}</a>)</span>
          {% endif %}
        {% endif %}
      {% endblock %}
    </div>
  {% endblock %}
</div>
