{% load i18n static vuetags %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>

  {# site header section #}
  <title>{% block title %}{% endblock %}</title>
  {# site header section #}

  {# site stylesheet section #}
  <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}">
  {# site stylesheet section #}

  {# site javascript section #}
  {% block javascript %}

  {% endblock %}
  {# site javascript section #}

  {% block extrastyle %}
    {# addtional extra stylesheet #}
  {% endblock %}

{#  {% if LANGUAGE_BIDI %}#}
{#    <link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}">#}
{#  {% endif %}#}

  {% block extrahead %}
    {# addtional extra stylesheet or javascript #}
  {% endblock %}

  {# responsive stylesheet section #}
  {% block responsive %}
      <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
{#      <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive.css" %}">#}
{#      {% if LANGUAGE_BIDI %}#}
{#        <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive_rtl.css" %}">#}
{#      {% endif %}#}
  {% endblock %}
  {# responsive stylesheet section #}

  {% block blockbots %}
    <meta name="robots" content="NONE,NOARCHIVE">
  {% endblock %}
</head>

<body>
  {% block x-template %}{% endblock %}
  <div id="app">
    {# site application section #}
    {% block app %}
      {# message content section #}
      {% block messages %}
        {% if messages %}
          <ul class="messagelist">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
              {{ message|capfirst }}
            </li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endblock messages %}
      {# message content section #}

      {# admin site content section #}
      <div>
        {% block content %}
          {% block object-tools %}{% endblock %}
          {{ content }}
        {% endblock %}
      </div>
      {# admin site content section #}
    {% endblock %}
    {# site application section #}
  </div>

  <script type="text/javascript">
    const Bus = new Vue(); //事件总线
    Vue.use(Vuex);
    const store = new Vuex.Store({
      modules: {
        app: {
          namespaced: true,
          state: {
            collapsed: false,
            activeKey: '0',
            activePanes: [],
          },
          getters: {
            collapsed: function (state) {
              const value = JSON.parse(window.localStorage.getItem('collapsed') || null);
              if (value) state.collapsed = value;
              return state.collapsed;
            },
            activeKey: function (state) {
              const value = JSON.parse(window.localStorage.getItem('activeKey') || null);
              if (value) state.activeKey = value;
              return state.activeKey;
            },
            activeKeys: function (state) {
              const value = JSON.parse(window.localStorage.getItem('activeKey') || null);
              if (value) state.activeKey = value;
              return [state.activeKey];
            },
            activePanes: function (state) {
              const value = JSON.parse(window.localStorage.getItem('activePanes') || null);
              if (value) state.activePanes = value;
              return state.activePanes;
            }
          },
          mutations: {
            changeCollapsed: function (state){
              state.collapsed = !state.collapsed;
              window.localStorage.setItem('collapsed', JSON.stringify(state.collapsed));
            },
            changeActiveKey: function (state, payload) {
              state.activeKey = payload;
              window.localStorage.setItem('activeKey', JSON.stringify(state.activeKey));
            },
            addActivePanes: function (state, payload) {
              if (state.activePanes.findIndex(obj => obj.key === payload.key) === -1) {
                state.activePanes.push(payload);
              }
              window.localStorage.setItem('activePanes', JSON.stringify(state.activePanes));
            },
            delActivePanes: function (state, payload) {
              state.activePanes.splice(payload, 1);
              window.localStorage.setItem('activePanes', JSON.stringify(state.activePanes));
            }
          }
        }
      }
    });
    const app = new Vue({
      delimiters: ['<%', '%>'],
      el: '#app',
      store,
      data: function () {
        return {
          placeholder: '{% trans 'Search' %}：{% adv_search_placeholder %}',
          searchInput: '{{ cl.query }}',
        }
      },
      methods: {
        onSearch (value) {
          console.log(value)
        },
      }
    });
  </script>
</body>
</html>
