{% load i18n %}
{% load vuetags %}
{% load simpletags %}

{% if show %}
  <div id="xfull">
    <strong>{{ name }}:</strong>
    <div class="tags-group">
      {% block date-hierarchy-toplinks %}
        {% block date-hierarchy-choices %}
          {% for choice in choices %}
            <a-tag key="{{ choice.title }}" style="borderStyle: dashed;">
              {% if choice.link %}<a href="{{ choice.link }}">{% endif %}{{ choice.title }}{% if choice.link %}</a>{% endif %}
            </a-tag>
          {% endfor %}
        {% endblock %}

        {% block date-hierarchy-back %}
          {% if back %}
            <a-tag key="back" style="background: #fff;">
              <a href="{{ back.link }}">{{ back.title }}</a>
            </a-tag>
          {% endif %}
        {% endblock %}
      {% endblock %}
    </div>
  </div>
{% endif %}
