{% extends "web/base_site.html" %}

{# site application section #}
{% block app %}

  {% include 'web/layouts/layout-demo-a.html' %}
  <div id="app">
    <layout-demo-a></layout-demo-a>
    <div id="canvas-wrapper"></div>
  </div>
  <script type="text/javascript">
    const Bus = new Vue(); //事件总线
    Vue.use(Vuex);
    const store = new Vuex.Store({
      modules: {
        app: {
          namespaced: true,
          state: {
            collapsed: false,
            activeKey: '0',
            activePanes: [],
          },
          getters: {
            collapsed: function (state) {
              const value = JSON.parse(window.localStorage.getItem('collapsed') || null);
              if (value) state.collapsed = value;
              return state.collapsed;
            },
            activeKey: function (state) {
              const value = JSON.parse(window.localStorage.getItem('activeKey') || null);
              if (value) state.activeKey = value;
              return state.activeKey;
            },
            activeKeys: function (state) {
              const value = JSON.parse(window.localStorage.getItem('activeKey') || null);
              if (value) state.activeKey = value;
              return [state.activeKey];
            },
            activePanes: function (state) {
              const value = JSON.parse(window.localStorage.getItem('activePanes') || null);
              if (value) state.activePanes = value;
              return state.activePanes;
            }
          },
          mutations: {
            changeCollapsed: function (state){
              state.collapsed = !state.collapsed;
              window.localStorage.setItem('collapsed', JSON.stringify(state.collapsed));
            },
            changeActiveKey: function (state, payload) {
              state.activeKey = payload;
              window.localStorage.setItem('activeKey', JSON.stringify(state.activeKey));
            },
            addActivePanes: function (state, payload) {
              if (state.activePanes.findIndex(obj => obj.key === payload.key) === -1) {
                state.activePanes.push(payload);
              }
              window.localStorage.setItem('activePanes', JSON.stringify(state.activePanes));
            },
            delActivePanes: function (state, payload) {
              state.activePanes.splice(payload, 1);
              window.localStorage.setItem('activePanes', JSON.stringify(state.activePanes));
            }
          }
        }
      }
    });
    const app = new Vue({
      el: '#app',
      store
    });
  </script>

{% endblock %}
{# site application section #}
