{% extends "client/pages/base.html" %}
{% load i18n static %}

{% block stylesheet %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'client/css/pages/colleges.css' %}">
{% endblock %}

<!-- site javascript section -->
{% block javascript %}
  {{ block.super }}
{% endblock %}
<!-- site javascript section -->

{% block x-template %}
  {% include 'client/pages/colleges/academy/components/table/index.html' %}
{% endblock %}

{% block app %}
  <div id="colleges-container">
    <div class="colleges-wrapper">
      <suit-colleges-tables></suit-colleges-tables>
    </div>
  </div>
{% endblock %}