{% load i18n static %}

{% include "client/components/submenu/index.html" %}

<link rel="stylesheet" type="text/css" href="{% static 'client/css/layouts/components/sidebar.css' %}">

<script type="text/x-template" id="suit-sidebar">
  <a-layout-sider :trigger="null" collapsible v-model="collapsed" theme="light">
    <div style="text-align: center; margin: 20px auto;">
      <div class="user-avatar">
        <a-avatar :size="collapsed ? 32 : 64" :src="profile.avatar" icon="user"></a-avatar>
      </div>
      <div class="user-info">
        <div><strong><% profile.name %></strong></div>
        <div v-show="!collapsed"><% profile.email %></div>
        <div v-show="!collapsed"><% profile.group %></div>
      </div>
    </div>
    <a-menu
      mode="inline"
      :style="{ height: 'calc(100%- 120px)', borderRight: 0 }"
      :inlineCollapsed="collapsed"
      :selectedKeys="activeKeys"
      :openKeys="openKeys"
      @click='select'
      @openChange="onOpenChange"
    >
      <template v-for="item in menus">
        <a-menu-item v-if="!item.models" :key="item.key" :url="item.link" :title="item.name" :name="item.name" :icon="item.icon">
          <a-icon :type="item.icon"></a-icon>
          <span><% item.name %></span>
        </a-menu-item>
        <sub-menu v-else :menus="item" :key="item.key"></sub-menu>
      </template>
    </a-menu>
  </a-layout-sider>
</script>

<script type="application/javascript">
  Vue.component('suit-sidebar', {
    delimiters: ['<%', '%>'],
    template: '#suit-sidebar',
    data: function () {
      return {
        name: "chenhao",
        menus: [{}],
        profile: {},
        openKeys: [],
        rootSubmenuKeys: [],
      }
    },
    computed: {
      ...Vuex.mapGetters('app', {
        collapsed: 'collapsed',
        activeKeys: 'activeKeys'
      })
    },
    created: function () {
      this.getUserProfile();
      this.setSubmenuKeys();
      this.getAccesslimit();
    },
    methods: {
      getUserProfile () {
        const csrftoken = Cookies.get('csrftoken'); // Using JS Cookies library
        axios({
          url: "{% url 'accounts:profile' %}",
          method: "GET",
          headers: {
            'X-CSRFTOKEN': csrftoken
          }
        }).then(response => {
          const {code, data} = response.data;
          if (code === "00000000") {
            const {profile, authority, permission} = data;
            this.profile = profile;
            console.log(permission);
          }
        }).catch(error => {
          const {meta, data} = error.response.data;
          Bus.$emit('notification', 'error', meta.code, meta.details);
        });
      },
      getAccesslimit () {
        axios({
          url: "{% url 'settings:accesslimit' %}",
          method: "GET",
          headers: {
            'X-CSRFTOKEN': this.csrftoken
          }
        }).then(response => {
          const {code, data} = response.data;
          if (code === "00000000") {
            this.menus = data.menus;
          }
        }).catch(error => {
          console.log(error);
        });
      },
      setSubmenuKeys () {
        this.menus.map(menu => {
          if (menu.key.indexOf("sub") !== -1) {
            this.rootSubmenuKeys.push(menu.key);
          }
        });
      },
      onOpenChange (openKeys) {
        const latestOpenKey = openKeys.find(key => this.openKeys.indexOf(key) === -1);
        if (this.rootSubmenuKeys.indexOf(latestOpenKey) === -1) {
          this.openKeys = openKeys
        } else {
          this.openKeys = latestOpenKey ? [latestOpenKey] : []
        }
      },
      select ({ item, key }) {
        const payload = {
          name: item.$attrs.name,
          content: item.$attrs.url,
          icon: item.$attrs.icon,
          key: key,
        };
        Bus.$emit('menuSelected', payload);
      }
    },
  })
</script>