.bg {
    background-color: #333333;
    background-image: url('../img/bg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.login-main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-75%) translateX(-50%);
}

.login-main .logo img {
    max-width: 600px;
    max-height: 100px;
}

.login-main .login-form {
    max-width: 320px;
    text-align: center;
    padding-top: 40px;
    margin: auto;
}

.login-main .login-form .header {
    font-size: 26px;
    color: #ffffff;
    margin: 0 auto 40px auto;
    text-align: center;
    font-weight: 700;
}

.simpleui-input-inline {
    margin: 10px 0;
}

.login-btn button {
    width: 100%;
}

