{% load vuetags %}

<script type="text/x-template" id="demo-header-logo">
  <div :style="logoWrapperStyle">
    <img :style="logoImgStyle" :src="logoSrc" :alt="alt" />
  </div>
</script>

<script type="text/javascript">
  Vue.component('demo-header-logo', {
    delimiters: ['<%', '%>'],
    template: '#demo-header-logo',
    data: function () {
      const logo = JSON.parse(`{% adv_logo %}`);
      return {
        width: '200px',
        src: logo,
        alt: logo.alt,
        img: '',
      }
    },
    watch: {
      collapsed: function (val) {
        this.width = val ? '80px' : '200px';
        this.img = val ? this.src.mini.src : this.src.full.src;
      },
    },
    computed: {
      ...Vuex.mapGetters('app', {
        collapsed: 'collapsed'
      }),
      logoWrapperStyle: function () {
        return {
          width: this.width,
          height: '32px',
          margin: '16px auto',
          float: 'left'
        }
      },
      logoImgStyle: function () {
        return {
          width: this.width,
          height: '32px',
          display: 'inherit',
          padding: '0 24px'
        }
      },
      logoSrc: function () {
        return this.img;
      }
    },
    created: function () {
      this.img = this.collapsed ? this.src.mini.src : this.src.full.src;
      this.width = this.collapsed ? '80px' : '200px';
    }
  })
</script>