{% load i18n %}
{% load static %}
{% load vuetags %}

<link href="{% static 'web/css/layouts/components/widgets/header/toolbox.css' %}" rel="stylesheet">

<script type="text/x-template" id="demo-header-toolbox">
  <div class="demo-header-toolbox-wrapper">
    <ul class="toolbox-items-wrapper">
      <li>
        <div class="toolbox-item">
          <a-button type="primary" @click="$store.commit('app/changeCollapsed')">
            <a-icon :style="toolboxIconStyle" :type="collapsed ? 'menu-unfold' : 'menu-fold'"></a-icon>
          </a-button>
        </div>
      </li>
      <li v-show="toolbox.lock.enable">
        <div class="toolbox-item">
          <a-button type="primary">
            <a-icon :style="toolboxIconStyle" type="lock"></a-icon>
          </a-button>
        </div>
      </li>
      <li v-show="toolbox.github.enable">
        <div class="toolbox-item">
          <a-button type="primary" @click="window.open(`${toolbox.github.link}`);">
            <a-icon :style="toolboxIconStyle" type="github"></a-icon>
          </a-button>
        </div>
      </li>
    </ul>
    <div class="toolbox-search">
      <a-input v-show="toolbox.search.enable" placeholder="Global Searching ..." v-model="globalSearchPattern">
        <a-icon slot="prefix" type="search" ></a-icon>
        <a-icon v-if="globalSearchPattern" slot="suffix" type="close-circle" @click="emitEmptyGlobalSearch"></a-icon>
      </a-input>
    </div>
    <ul class="toolbox-items-wrapper">
      <li v-show="toolbox.notice.enable">
        <div class="toolbox-item">
          <a-popover trigger="click" placement="bottomRight" :overlayStyle="{ width: '300px', top: '50px' }">
            <a-button type="primary">
              <a-badge :count="1" dot>
                <a-icon :style="toolboxIconStyle" type="bell"></a-icon>
              </a-badge>
            </a-button>
            <template slot="content">
              <a-tabs>
                <a-tab-pane tab="通知" key="1">
                  <a-list>
                    <a-list-item>
                      <a-list-item-meta title="你收到了 14 份新周报" description="一年前">
                        <a-avatar style="background-color: white" slot="avatar" src="https://gw.alipayobjects.com/zos/rmsportal/ThXAXghbEsBCCSDihZxY.png"/>
                      </a-list-item-meta>
                    </a-list-item>
                    <a-list-item>
                      <a-list-item-meta title="你推荐的 曲妮妮 已通过第三轮面试" description="一年前">
                        <a-avatar style="background-color: white" slot="avatar" src="https://gw.alipayobjects.com/zos/rmsportal/OKJXDXrmkNshAMvwtvhu.png"/>
                      </a-list-item-meta>
                    </a-list-item>
                    <a-list-item>
                      <a-list-item-meta title="这种模板可以区分多种通知类型" description="一年前">
                        <a-avatar style="background-color: white" slot="avatar" src="https://gw.alipayobjects.com/zos/rmsportal/kISTdvpyTAhtGxpovNWd.png"/>
                      </a-list-item-meta>
                    </a-list-item>
                  </a-list>
                </a-tab-pane>
                <a-tab-pane tab="消息" key="2">
                  123
                </a-tab-pane>
                <a-tab-pane tab="待办" key="3">
                  123
                </a-tab-pane>
              </a-tabs>
            </template>
          </a-popover>
        </div>
      </li>
      <li v-show="toolbox.utility.enable">
        <div class="toolbox-item">
          <a-button type="primary" @click="showUtility">
            <a-icon :style="toolboxIconStyle" type="appstore"></a-icon>
          </a-button>
        </div>
      </li>
      <li v-show="toolbox.setting.enable">
        <div class="toolbox-item">
          <a-dropdown :trigger="['click']" placement="bottomCenter">
            <a-button type="primary">
              <a-icon :style="toolboxIconStyle" type="setting"></a-icon>
            </a-button>
            <a-menu slot="overlay">
              <a-menu-item key="1" @click="showPassword">
                <a-icon type="edit"></a-icon>
                <span>{% trans "修改密码" %}</span>
              </a-menu-item>
              <a-menu-divider />
              <a-menu-item key="0" @click="logout">
                <a-icon type="logout"></a-icon>
                <span>{% trans "注销用户" %}</span>
              </a-menu-item>
            </a-menu>
          </a-dropdown>
        </div>
      </li>
    </ul>

    {# Utility Box Drawer Section #}
    <a-drawer title="{% trans '工具箱' %}" placement="top" @close="utilityClose" :visible="utilityVisible" height="auto">
      <a-row :gutter="8" type="flex" justify="start">
        <a-col :span="4">
          <a-card hoverable style="border-radius: 5px; border: 1px dashed #e8e8e8;" @click="siteClear">
            <a-card-meta title="{% trans '站点缓存' %}" description="{% trans '清除浏览器缓存' %}">
              <a-avatar shape="square" size="large" slot="avatar" src="{% static 'web/img/svg/clean.svg' %}"></a-avatar>
            </a-card-meta>
          </a-card>
        </a-col>
        <a-col :span="4">
          <a-card hoverable style="border-radius: 5px; border: 1px dashed #e8e8e8;" @click="pageRender">
            <a-card-meta title="{% trans '导出页面' %}" description="{% trans '生成页面为 PDF' %}">
              <a-avatar shape="square" size="large" slot="avatar" src="{% static 'web/img/svg/screen shot.svg' %}"></a-avatar>
            </a-card-meta>
          </a-card>
        </a-col>
      </a-row>
    </a-drawer>
    {# Utility Box Drawer Section #}

    {# Change Passwod Dialog Section #}
    <a-modal title="{% trans 'Change password' %}" v-model="pwdVisible" :footer="null" width="648px" @cancel="passwordClose">
      <iframe-wrapper :href="pwdLink" height="420px" width="600px" overflow="hidden"></iframe-wrapper>
    </a-modal>
    {# Change Passwod Dialog Section #}
  </div>
</script>

<script type="text/javascript">
  Vue.component('demo-header-toolbox', {
    template: '#demo-header-toolbox',
    data: function () {
      return {
        toolbox: JSON.parse(`{% adv_toolbox %}`),
        toolboxIconStyle: {
          fontSize: '16px',
          padding: '4px'
        },
        utilityVisible: false,
        pwdVisible: false,
        pwdLink: `{% url "admin:password_change" %}`,
        globalSearchPattern: '',
      }
    },
    computed: {
      ...Vuex.mapGetters('app', {
        collapsed: 'collapsed'
      })
    },
    methods: {
      emitEmptyGlobalSearch () {
        this.globalSearchPattern = '';
      },
      /**
       * Utility Box Method Section
       */
      showUtility () {
        this.utilityVisible = true
      },
      utilityClose () {
        this.utilityVisible = false
      },
      siteClear () {
        this.$confirm({
          title: '{% trans "Clear site data" %}',
          content: '{% trans "Are you sure?" %}',
          okText: '{% trans "Yes" %}',
          okType: 'danger',
          cancelText: '{% trans "No" %}',
          onOk() {
            window.localStorage.clear();
            window.location.reload();
          }
        });
      },
      pageRender () {
        const element = document.getElementById("content-wrapper").getElementsByClassName('ant-tabs-tabpane-active')[0];
        html2canvas(element)
          .then((canvas) => {
            // 一页 PDF 显示 html 页面生成的 canvas 高度
            const pageHeight = canvas.width / 592.28 * 841.89;
            // 未生成 PDF 的 html 页面高度
            let leftHeight = canvas.height;
            // 页面偏移
            let position = 0;
            // A4 纸的尺寸 [595.28,841.89]，html 页面生成的 canvas 在 PDF 中图片的宽高
            const imgWidth = 595.28;
            const imgHeight = 592.28 / canvas.width * canvas.height;
            const pageData = canvas.toDataURL('image/jpeg', 1.0);
            const PDFRender = new jsPDF('', 'pt', 'a4');

            // 有两个高度需要区分，一个是 html 页面的实际高度，和生成 PDF 的页面高度 (841.89)
            // 当内容未超过 PDF 一页显示的范围，无需分页
            if (leftHeight < pageHeight) {
              PDFRender.addImage(pageData, 'JPEG', 20, 0, imgWidth, imgHeight );
            } else {
              while(leftHeight > 0) {
                PDFRender.addImage(pageData, 'JPEG', 20, position, imgWidth, imgHeight);
                leftHeight -= pageHeight;
                position -= 841.89;
                // 避免添加空白页
                if(leftHeight > 0) {
                  PDFRender.addPage();
                }
              }
            }
            PDFRender.save('HomePage.pdf');
          });
      },
      /**
       * Utility Box Method Section
       */
      showPassword () {
        this.pwdVisible = true;
      },
      passwordClose () {
        this.pwdVisible = false;
      },
      logout: function () {
        this.$confirm({
          title: '{% trans "Log out" %}',
          content: '{% trans "Are you sure?" %}',
          okText: '{% trans "Yes" %}',
          okType: 'danger',
          cancelText: '{% trans "No" %}',
          onOk() {
            window.location.href = '{% url "admin:logout" %}';
          }
        });
      },
    },
  })
</script>