<script type="text/x-template" id="suit-footer">
  <a-layout-footer style="text-align: center">
    <div class="ant-breadcrumb">
      <a class="ant-breadcrumb-link" :href="auth.href" target="_blank">
        <% app.name %> © Created by <% auth.name %> From <% auth.year %> to <% year %>
      </a>
    </div>
  </a-layout-footer>
</script>

<script type="application/javascript">
  Vue.component('suit-footer', {
    delimiters: ['<%', '%>'],
    template: '#suit-footer',
    data () {
      return {
        year: moment().year(),
      }
    },
    computed: {
      // Vuex store of user information.
      app: {
        get: function () {
          return this.$store.state.site.application.app;
        }
      },
      auth: {
        get: function () {
          return this.$store.state.site.application.auth;
        }
      },
    }
  })
</script>