{% extends "client/pages/base.html" %}
{% load i18n static %}

{% block stylesheet %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "client/css/layouts/layout.css" %}">
{% endblock %}

<!-- site javascript section -->
{% block javascript %}
  {{ block.super }}
  <script src="{% static 'client/vendor/g2/g2.min.js' %}"></script>
  <script src="{% static 'client/vendor/jspdf/jspdf.debug.js' %}"></script>
  <script src="{% static 'client/vendor/html2canvas/html2canvas.js' %}"></script>
{% endblock %}
<!-- site javascript section -->

{% block x-template %}
  {% include 'client/layout/index.html' %}
{% endblock %}

{% block app %}
  <suit-layout></suit-layout>
{% endblock %}
