<script type="text/x-template" id="sub-menu">
  <a-sub-menu v-bind="$props" v-on="$listeners" :key="menus.key">
    <span slot="title">
      <a-icon :type="menus.icon" />
      <span><% menus.name %></span>
    </span>
    <template v-for="model in menus.models">
      <a-menu-item v-if="!model.models" :key="model.key" :title="model.name" :url="model.url" :name="model.name" :icon="model.icon">
        <a-icon :type="model.icon" />
        <span><% model.name %></span>
      </a-menu-item>
      <sub-menu v-else :key="model.key" :menus="model"/>
    </template>
  </a-sub-menu>
</script>

<script type="text/javascript">
  Vue.component('sub-menu', {
    delimiters: ['<%', '%>'],
    isSubMenu: true,
    props: {
      ...antd.Menu.SubMenu.props,
      menus: {
        type: Object,
        required: true
      }
    },
    template: '#sub-menu'
  });
</script>