<a-select name="{{ widget.name }}"
          v-decorator="['select', {rules: [{ {% include 'django/forms/widgets/vue_attrs.html' %} }]}]"
          {% include "django/forms/widgets/attrs.html" %}
          defaultValue="{% include "django/forms/widgets/vue_select_value.html" %}"
>
  {% for group_name, group_choices, group_index in widget.optgroups %}
    {% if group_name %}
      <a-select-opt-group label="{{ group_name }}">
    {% endif %}
    {% for option in group_choices %}
      {% include option.template_name with widget=option %}
    {% endfor %}
    {% if group_name %}
      </a-select-opt-group>
    {% endif %}
  {% endfor %}
</a-select>

