#dashboard-container {
  .dashboard-wrapper {
    padding: 0 20px;
    .dashboard-overview {
      width: 100%;

      .overview-left {
        margin: 20px;
        text-align: left;

        div.overview-avatar {
          display: inline-block;
          vertical-align: middle;
        }

        div.overview-greeting {
          display: inline-block;
          vertical-align: middle;
          margin-left: 20px;
        }
      }

      .overview-right {
        margin: 20px;
        vertical-align: middle;

        div.overview-ranks {
          text-align: center;

          div:first-child {
            font-size: 1.2rem;
          }

          div:last-child {
            font-size: 2rem;
          }
        }
      }
    }

    .dashboard-shortcut {
      width: 100%;
    }

    .dashboard-activity {
      width: 100%;
    }
  }
}