{% load i18n static %}

{# !!! Don't import in any other pages again !!! #}
{% include 'client/layout/components/header/index.html' %}
{% include 'client/layout/components/sidebar/index.html' %}
{% include 'client/layout/components/footer/index.html' %}
{% include 'client/components/iframe/index.html' %}

<script type="text/x-template" id="suit-layout">
  <a-layout>
    <suit-header></suit-header>
    <a-layout style="height: calc(100vh - 64px)">
      <suit-sidebar></suit-sidebar>
      <a-layout>
        <a-layout-content>
          <div class="card-container" id="content-wrapper">
            <a-tabs hide-add type="editable-card" :tab-bar-gutter=1 v-model="activeKey" @edit="onEdit">
              <a-tab-pane key="0" closable>
                <span slot="tab">{% trans 'Dashboard' %}</span>
                <suit-iframe :href="`{% url 'dashboard' %}`" :height="height"></suit-iframe>
              </a-tab-pane>
              <a-tab-pane v-for="(pane, index) in activePanes" :key="pane.key">
                <span slot="tab"><% pane.title %></span>
                <suit-iframe :href="pane.key" :height="height"></suit-iframe>
              </a-tab-pane>
            </a-tabs>
          </div>
        </a-layout-content>
        <suit-footer :app="application.app" :auth="application.auth"></suit-footer>
      </a-layout>
    </a-layout>
  </a-layout>
</script>

<script type="application/javascript">
  Vue.component('suit-layout', {
    delimiters: ['<%', '%>'],
    template: '#suit-layout',
    data: function () {
      return {
        height: `${window.innerHeight - 240}px`,
      }
    },
    computed: {
      // Vuex store of site information.
      application: {
        get: function () {
          return this.$store.state.site.application;
        },
        set: function (value) {
          this.$store.commit('site/application', value);
        }
      },
      activeKey: {
        get: function () {
          return this.$store.state.site.activeKey;
        },
        set: function (value) {
          this.$store.commit('site/activeKey', value);
        }
      },
      activePanes: {
        get: function () {
          return this.$store.state.site.activePanes;
        }
      },
      // Vuex store of user information.
      profile: {
        get: function () {
          return this.$store.state.user.profile;
        },
        set: function (value) {
          this.$store.commit('user/profile', value);
        }
      },
      authority: {
        get: function () {
          return this.$store.state.user.authority;
        },
        set: function (value) {
          this.$store.commit('user/authority', value);
        }
      },
      permissions: {
        get: function () {
          return this.$store.state.user.permissions;
        },
        set: function (value) {
          this.$store.commit('user/permissions', value);
        }
      }
    },
    created: function () {
      // 如果当前加载的窗体宽度过小，则进行侧边栏缩小
      if (window.innerWidth <= 992) this.$store.commit('site/collapsed');

      this.getApplication();
      this.getUserProfile();
    },
    methods: {
      // 获取website的基础信息存储在Vuex中
      getApplication () {
        axios({
          url: "{% url 'api-settings:application' %}",
          method: "GET",
          headers: {
            'X-CSRFTOKEN': window.csrftoken
          },
          params: {
            pk: this.pk
          }
        }).then(response => {
          const {code, data} = response.data;
          if (code === "00000000") {
            this.application = data;
          }
        }).catch(error => {
          console.log(error);
        });
      },
      // 获取当前登录用户的基础信息存储在Vuex中
      getUserProfile () {
        axios({
          url: "{% url 'accounts:profile' %}",
          method: "GET",
          headers: {
            'X-CSRFTOKEN': window.csrftoken
          }
        }).then(response => {
          const {code, data} = response.data;
          if (code === "00000000") {
            const {profile, authority, permission} = data;
            this.profile = profile;
            this.authority = authority;
            this.permissions = permission;
          }
        }).catch(error => {
          console.log(error);
        });
      },

      // 活动标签页面有关的方法
      onEdit (key, action) {
        this[action](key)
      },
      remove (key) {
        Bus.$emit('closePane', key);
      },
    },
  })
</script>